@model ALRSSystem.Models.ApprovalList

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ApprovalList</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.AssociateApprover, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AssociateApprover)
                @Html.ValidationMessageFor(model => model.AssociateApprover)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipStaffApprover, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TipStaffApprover)
                @Html.ValidationMessageFor(model => model.TipStaffApprover)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.HRNotification, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HRNotification)
                @Html.ValidationMessageFor(model => model.HRNotification)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { SPHostUrl = SharePointContext.GetSPHostUrl(HttpContext.Request).AbsoluteUri });
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
