@model IEnumerable<ALRSSystem.Models.ALRS>

@{
    ViewBag.Title = "Leave Totals";
}

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div id="container">

        <p>
            <h2></h2>
        </p>

        <table border="0">
            <tr>
                <td class="auto-style20">
                    <table border="1" cellspacing="0" cellpadding="4" style="font-family: Arial; font-size: 10pt; background-color: whitesmoke; width: 275px; height: 100%;">
                        <tr style="background-color: darkblue; color: white"><th align="center" class="auto-style19"><b>Leave Requests</b></th></tr>
                        <tr>
                            <td class="auto-style2">
                                <table border="0" style="font-family: Arial; font-size: 12pt; width: 100%; background-color: white;" cellspacing="0" cellpadding="0">


                                    <tr style="">
                                        <td align="left" valign="top">
                                                <p>
                                                    @if ((ViewData["InAssociatesRole"] == "true") || ViewData["InOwnerRole"] == "true")
                                                    {
                                                        <img src="~/content/images/menuitem.jpg" style="float:left;">
                                                        @Html.ActionLink("Associates", "Index", "Home", new { SPHostUrl = SharePointContext.GetSPHostUrl(HttpContext.Current.Request).AbsoluteUri }, null)
                                                    }
                                                </p>
                                                <p>
                                                    @if ((ViewData["InTipstaffRole"] == "true") || ViewData["InOwnerRole"] == "true")
                                                    {
                                                        <img src="~/content/images/menuitem.jpg" style="float:left;">
                                                        @Html.ActionLink("Tip Staff", "Index", "HomeTipStaff", null, new { rp = "Tip Staff", SPHostUrl = SharePointContext.GetSPHostUrl(HttpContext.Current.Request).AbsoluteUri })
                                                    }

                                                </p>
                                        </td>
                                    </tr>

                                    <tr style="">
                                        <td align="left" valign="top">
                                            @if ((ViewData["InAssociatesRole"] == "true") || ViewData["InTipstaffRole"] == "true" || ViewData["InOwnerRole"] == "true")
                                            {
                                                <img src="~/content/images/menuitem.jpg" style="float:left;">
                                                @Html.ActionLink("Calendar", "Index", "Calendar", new { SPHostUrl = SharePointContext.GetSPHostUrl(HttpContext.Current.Request).AbsoluteUri }, null)}
                                        </td>
                                    </tr>
                                    <tr><td style="vertical-align:top;">&nbsp;</td></tr>


                                    <tr style="">
                                        <td align="left" valign="top">
                                            <img src="~/content/images/menuitem.jpg" style="float:left;">
                                            @Html.ActionLink("Pending Approval", "Index", "PendingApproval", new { SPHostUrl = SharePointContext.GetSPHostUrl(HttpContext.Current.Request).AbsoluteUri }, null)
                                        </td>
                                    </tr>

                                    <tr style="">
                                        <td align="left" valign="top">
                                            @if ((ViewData["InAssociatesRole"] == "true") || ViewData["InOwnerRole"] == "true")
                                            {
                                                <img src="~/content/images/menuitem.jpg" style="float:left;">
                                                @Html.ActionLink("A: Leave Totals", "Index", "LeaveTotals", new { SPHostUrl = SharePointContext.GetSPHostUrl(HttpContext.Current.Request).AbsoluteUri }, null)}
                                        </td>
                                    </tr>

                                    <tr style="">
                                        <td align="left" valign="top">
                                            @if ((ViewData["InTipstaffRole"] == "true") || ViewData["InOwnerRole"] == "true")
                                            {
                                                <img src="~/content/images/menuitem.jpg" style="float:left;">
                                                @Html.ActionLink("T: Export Data", "Report", "Report", new { SPHostUrl = SharePointContext.GetSPHostUrl(HttpContext.Current.Request).AbsoluteUri }, null)}
                                        </td>
                                    </tr>


                                    <tr><td style="vertical-align:top;">&nbsp;</td></tr>
                                    <tr style="">
                                        <td align="left" valign="top">
                                            @if (ViewData["InOwnerRole"] == "true")
                                            {
                                                <img src="~/content/images/menuitem.jpg" style="float:left;">
                                                @Html.ActionLink("Approval List", "Index", "ApprovalList", new { SPHostUrl = SharePointContext.GetSPHostUrl(HttpContext.Current.Request).AbsoluteUri }, null)}
                                        </td>
                                    </tr>


                                    @*@Html.DropDownList("ALRSRequestorPosition", ViewData["HRPNames"] as SelectList, new { onchange = "document.location.href = '/Home/Index?rp=' + this.options[this.selectedIndex].value;" })*@
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        @*Server side datatables*@
        <td class="auto-style1">
            <table border="1" cellspacing="0" cellpadding="4" style="font-family: Arial; font-size: 10pt; background-color: whitesmoke; width: 100%; ">
                <tr style="background-color: darkblue; color: white"><th align="center" class="auto-style19"><b></b>Leave Totals</th></tr>
            </table>

            <table id="exampleleavetotals" border="0" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Status</th>
                        <th>Name</th>
                        <th>Leave Type</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Duration</th>
                        @*<th>Id</th>*@
                    </tr>
                </thead>
            </table>
        </td>

    </div>

    <table border="0" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>

}