@model ALRSSystem.Models.ALRS

@{
    ViewBag.Title = "Details";
}

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.DocumentDateCreated)
    @Html.HiddenFor(model => model.DocumentDateModified)
    @Html.HiddenFor(model => model.DocumentModifiedBy)
    @Html.HiddenFor(model => model.DocumentCreatedBy)
    @Html.HiddenFor(model => model.DocumentDeleted)
    @Html.HiddenFor(model => model.ALRSStatus)

    <h2></h2>
    <table border="0">
        <tr>
            <td class="auto-style15">

                @*@if (Model.ALRSStatus == "Cancelled")
                {
                   <td class="auto-style15">
                    @Html.ActionLink("Cancel Request", "Delete", new { id = Model.ID }, new {@class="btn btn-primary"})</td>
                }*@
                
                @if (Model.ALRSStatus == "Pending")
                {
                    <td class="auto-style15">
                     @if ((ViewData["InAssociatesRole"] == "true") || (ViewData["InTipstaffRole"] == "true") || (ViewData["InOwnerRole"] == "true")){
                            @Html.ActionLink("Cancel Request", "Cancel", new { id = Model.ID }, new {@class="btn btn-primary"})}
                        </td>
                     if ((ViewData["InTipstaffApproverRole"] == "true") || (ViewData["InAssociatesApproverRole"] == "true") || (ViewData["InOwnerRole"] == "true"))
                     { 
                        <td class="auto-style15">
                            @Html.ActionLink("Approved", "Approved", new { id = Model.ID, SPHostUrl = SharePointContext.GetSPHostUrl(HttpContext.Current.Request).AbsoluteUri }, new { @class = "btn btn-primary" })
                            </td>
                        <td class="auto-style15">
                                @Html.ActionLink("Approved with New Dates", "ApprovedNewDates", new { id = Model.ID, SPHostUrl = SharePointContext.GetSPHostUrl(HttpContext.Current.Request).AbsoluteUri }, new { @class = "btn btn-primary" })
                            </td>
                        <td class="auto-style15">
                            @Html.ActionLink("Unsuccessful", "Unsuccessful", new { id = Model.ID, SPHostUrl = SharePointContext.GetSPHostUrl(HttpContext.Current.Request).AbsoluteUri }, new { @class = "btn btn-primary" })
                            </td>
                     }
                }

            <td class="auto-style15">
                @if ((ViewData["InTipstaffApproverRole"] == "true") || (ViewData["InAssociatesApproverRole"] == "true") || (ViewData["InOwnerRole"] == "true"))
                { @Html.ActionLink("Remove - Delete", "Delete", new { id = Model.ID, SPHostUrl = SharePointContext.GetSPHostUrl(HttpContext.Current.Request).AbsoluteUri }, new { @class = "btn btn-primary" })}
                </td>
            <td class="auto-style15">
                @Html.ActionLink("Back", "Index", new { SPHostUrl = SharePointContext.GetSPHostUrl(HttpContext.Current.Request).AbsoluteUri }, new { @class = "btn btn-primary" })
                </td>

        </td>
        </tr>
    </table>


    @Html.DisplayALRSImage(Model.ALRSStatus)

<table border="0">
    <tr>
        <td class="auto-style15">
            <table border="1" cellspacing="0" cellpadding="4" style="font-family: Arial; font-size: 10pt; background-color:whitesmoke; width:100%;">
                <tr style="background-color:darkblue;color:white"><th align="center" ><b>Requestor Details:</b></th></tr>
                <tr>
                    <td class="auto-style14">
                        <table border="0" style="font-family: Arial; font-size: 10pt; width: 100%; background-color: threedlightshadow;" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="left" nowrap class="auto-style5">
                                    @Html.DisplayNameFor(model => model.ALRSName):
                                </td>
                              
                                <td align="left">
                                    @Html.DisplayFor(model => Model.ALRSName, "ALRSName")
                                </td>
                            </tr>
                        </table>
                        <table border="0" style="font-family: Arial; font-size: 10pt; width: 100%; background-color: whitesmoke;" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="left" nowrap class="auto-style5">
                                    @Html.DisplayNameFor(model => model.ALRSStartDate):
                                </td>

                                <td align="left" class="auto-style21">
                                    @Html.ShortDate(Model.ALRSStartDate, "ALRSStartDate", false)
                                </td>
                            </tr>

                        </table>
                        <table border="0" style="font-family: Arial; font-size: 10pt; width: 100%; background-color: threedlightshadow;" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="left" nowrap class="auto-style5">
                                    @Html.DisplayNameFor(model => model.ALRSEndDate):
                                </td>
                               
                                <td align="left">
                                    @Html.ShortDate(Model.ALRSEndDate, "ALRSEndDate", false)
                                </td>
                            </tr>

                        </table>
                        <table border="0" style="font-family: Arial; font-size: 10pt; width: 100%; background-color: whitesmoke;" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="left" nowrap class="auto-style5">
                                    @Html.DisplayNameFor(model => model.ALRSDuration):
                                </td>
                               
                                <td align="left">
                                    @Html.DisplayFor(model => Model.ALRSDuration, "ALRSDuration")
                                </td>
                            </tr>

                        </table>
                        <table border="0" style="font-family: Arial; font-size: 10pt; width: 100%; background-color: threedlightshadow;" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="left" nowrap class="auto-style5">
                                    @Html.DisplayNameFor(model => model.ALRSComments):
                                </td>
                                
                                <td align="left">
                                    @Html.DisplayFor(model => model.ALRSComments)
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
</table>    
    
    
<table border="0">
    <tr>
        <td class="auto-style15">
            <table border="1" cellspacing="0" cellpadding="4" style="font-family: Arial; font-size: 10pt; background-color:whitesmoke; width:100%;">
                <tr style="background-color:brown;color:white"><th align="center" ><b>Will your Judge be on leave during the dates requested?</b></th></tr>
                <tr>
                    <td class="auto-style14">
                        <table border="0" style="font-family: Arial; font-size: 10pt; width: 100%; background-color: threedlightshadow;" cellspacing="0" cellpadding="0">
                            <tr>
                                @*<td align="left" nowrap class="auto-style5">
                                    @Html.DisplayNameFor(model => model.ALRSJudgeOnLeave):
                                </td>*@

                                <td align="left">
                                    @if (@Model.ALRSJudgeOnLeave == true)
                                    {
                                        <tr>@Html.DisplayFor(model => model.ALRSJudgeOnLeave) Yes</tr>;
                                    }
                                    else
                                    {
                                        <tr>@Html.DisplayFor(model => model.ALRSJudgeOnLeave) No</tr>;
                                    }
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>    

<table border="0">
    <tr>
        <td class="auto-style15">
            <table border="1" cellspacing="0" cellpadding="4" style="font-family: Arial; font-size: 10pt; background-color:whitesmoke; width:100%;">
                <tr style="background-color:darkblue;color:white"><th align="center" ><b>Requestor's Position</b></th></tr>
                <tr>
                    <td class="auto-style14">
                        <table border="0" style="font-family: Arial; font-size: 10pt; width: 100%; background-color: threedlightshadow;" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="left" nowrap class="auto-style5">
                                    @Html.DisplayNameFor(model => model.ALRSRequestorPosition):
                                </td>
                              
                                <td align="left">
                                    @Html.DisplayFor(m => m.ALRSRequestorPosition)
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>    

<table border="0">
    <tr>
        <td class="auto-style15">
            <table border="1" cellspacing="0" cellpadding="4" style="font-family: Arial; font-size: 10pt; background-color:whitesmoke; width:100%;">
                <tr style="background-color: brown; color: white"><th align="center" ><b>Approving Manager's Comments and Additional Information</b></th></tr>
                <tr>
                    <td class="auto-style14">
                        <table border="0" style="font-family: Arial; font-size: 10pt; width: 100%; background-color: threedlightshadow;" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="left" nowrap class="auto-style5">
                                    @Html.DisplayNameFor(model => model.ALRSApproverResponseDate):
                                </td>

                                <td align="left">
                                    @Html.DisplayFor(m => m.ALRSApproverResponseDate)
                                </td>
                            </tr>
                        </table>
                        <table border="0" style="font-family: Arial; font-size: 10pt; width: 100%; background-color: threedlightshadow;" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="left" nowrap class="auto-style5">
                                    @Html.DisplayNameFor(model => model.ALRSApproverComments):
                                </td>

                                <td align="left">
                                    @Html.DisplayFor(model => model.ALRSApproverComments)
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table> 

}

<div>
@section DocumentLog
{
        <table border="1" cellspacing="0" cellpadding="4" style="font-family: Arial; font-size: 10pt; width: 100%; background-color: threedlightshadow;">
            <tr>
                <td align="left" nowrap class="auto-style14">
                    Record modified by @Model.DocumentModifiedBy on @Model.DocumentDateModified
                </td>
            </tr>
        </table>

        <table border="1" cellspacing="0" cellpadding="4" style="font-family: Arial; font-size: 10pt; width: 100%; background-color: threedlightshadow;">
            <tr>
                <td align="left" nowrap class="auto-style14">
                    Record created by @Model.DocumentCreatedBy on @Model.DocumentDateCreated
                </td>
            </tr>
        </table>
    }

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


